@use "mixin" as *;
@use "reset";

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "SFU-Life";
  src: url("../fonts/SFULifeItalic.TTF") format("truetype");
}

@font-face {
  font-family: "SFU-Fenice";
  src: url("../fonts/SFUFeniceRegular.TTF") format("truetype");
}

@font-face {
  font-family: "SFU-Fenice-LightOblique";
  src: url("../fonts/SFUFeniceLightOblique.TTF") format("truetype");
}

@font-face {
  font-family: "SVN-Din";
  src: url("../fonts/SVN-PF Din Text Pro Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Be-VietNam";
  src: url("../fonts/BeVietnam-Regular.ttf") format("truetype");
}

$color-primary: #f6d7a6;

.main-content {
  overflow: hidden;
  background-image: url(/assets/images/section-bg1-6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.section1 {
  width: 100%;
  position: relative;
  padding: 8% 0 20%;

  &::before {
    content: "";
    position: absolute;
    width: 45.3%;
    aspect-ratio: 870/1367;
    max-width: 870px;
    max-height: 1367px;
    background-image: url(/assets/images/decorate-boy-left.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 0;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 26.5%;
    aspect-ratio: 509/817;
    max-width: 509px;
    max-height: 817px;
    background-image: url(/assets/images/decorate-girl-right.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 0;
    top: 28.75%;
    right: 0;
  }
}

.section1__title {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  align-items: center;
  justify-content: center;

  &--main {
    width: 23%;
    height: auto;
    max-width: 441px;
    margin-top: 11px;

    @include m1440 {
      max-width: 350px;
    }

    @include max(1280px) {
      max-width: 250px;
    }

    @include sp {
      max-width: 97px;
    }
  }

  &--sub {
    font-family: "SFU-Fenice";
    font-size: 3.8rem;
    color: #83062a;
    text-align: center;

    @include m1440 {
      font-size: 3rem;
    }

    @include max(1280px) {
      font-size: 2.8rem;
    }

    @include tab {
      font-size: 2.2rem;
    }
  }
}

.section2 {
  width: 100%;
  padding: 4.5% 0 148%;
  position: relative;

  @include sp {
    padding-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 78.6%;
    aspect-ratio: 1509/1344;
    max-width: 1509px;
    max-height: 1344px;
    background-image: url(/assets/images/decorate-light.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: -23%;
    top: -25%;
    mix-blend-mode: screen;
    z-index: 1;
  }
}

.section2__text {
  font-family: "SFU-Life";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--1 {
    font-size: 3.5rem;
    max-width: 706px;
    color: #69141e;
    position: absolute;
    left: 41%;
    right: 22%;
    letter-spacing: -2%;
    z-index: 1;
    span {
      font-size: 128px;
      line-height: 0.2;
    }
  }

  &--2 {
    position: absolute;
    bottom: 38%;
    left: 60%;
    right: 5%;
    font-size: 3.6rem;
    max-width: 622px;
    color: #e8cf8f;
    span {
      font-size: 12.8rem;
      line-height: 0.6;
      rotate: 180deg;
    }
  }

  @include max(1550px) {
    font-size: 2.6rem;

    span {
      font-size: 10rem;
    }
  }

  @include max(1280px) {
    font-size: 2rem;
  }

  @include tab {
    font-size: 1.6rem;
  }
}

.section2__decor {
  position: absolute;
  width: 100%;
  height: auto;

  &--passport {
    right: 0;
    top: -12%;
    z-index: 0;
    height: 100%;
    background-image: url(/assets/images/decorate-passport.png);
    background-size: 100%;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      width: 26%;
      height: 26%;
      max-width: 500px;
      max-height: 500px;
      background-image: url(/assets/images/decorate-circle.webp);
      background-size: 100%;
      background-repeat: no-repeat;
      mix-blend-mode: screen;
      left: 12%;
      top: 17%;
      z-index: 1;
      transform: rotate(60deg);
    }
  }

  &--tau {
    height: 100%;
    background-image: url(/assets/images/decorate-tau.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 19%;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(/assets/images/decorate-line1.webp);
      background-size: 100%;
      background-repeat: no-repeat;
      mix-blend-mode: screen;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.section3 {
  width: 100%;
  padding-top: 51%;
  position: relative;
}

.section3__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;
  max-width: 492px;
  margin-left: 2.96%;
  position: absolute;
  top: 14%;
  bottom: 20%;

  @include m1440 {
    justify-content: flex-start;
  }

  img {
    display: block;
    width: 100%;
    max-width: 457px;
    height: auto;

    @include m1440 {
      max-width: 300px;
    }

    @include tab {
      max-width: 200px;
    }
  }

  &--sub {
    font-family: "SVN-Din";
    font-size: 2.6rem;
    color: #701517;
    text-align: center;
    @include m1440 {
      font-size: 2rem;
    }

    @include tab {
      font-size: 1.6rem;
    }
  }
}

.section3__decor {
  display: block;
  width: 59.25%;
  max-width: 1137px;
  max-height: 817px;
  aspect-ratio: 1137 / 817;
  position: absolute;
  left: 41%;
  bottom: -26%;

  img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 177.6%;
    aspect-ratio: 2020 / 1776;
    background-image: url(/assets/images/decorate-line2.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    right: -2%;
    bottom: -28%;
    mix-blend-mode: screen;
    z-index: 2;
  }

  @include max(1280px) {
    bottom: -30%;
  }
}

.section4 {
  width: 100%;
  padding-top: 14%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.section4__title {
  text-align: center;
  position: relative;
  z-index: 1;

  img {
    width: 68.5%;
    height: auto;
    max-width: 1315px;
  }
}

.section4__desc {
  font-family: "SVN-Din";
  font-size: 3rem;
  text-align: center;
  color: $color-primary;
  max-width: 1388px;
  margin: 6% auto 0;

  @include m1440 {
    font-size: 2.5rem;
    max-width: 900px;
  }
}

.section4__achieves {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 5.25%;
}

.section4__achieve {
  list-style: none;
  font-family: "SFU-Life";
  font-size: 40px;
  color: $color-primary;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: calc(100% / 5);
  min-width: 200px;
  border-left: 3px $color-primary solid;

  &--number {
    font-size: 12.8rem;
    font-family: "SFU-Fenice-LightOblique";
    line-height: 1;

    @include max(1800px) {
      font-size: 10rem;
    }

    @include m1440 {
      font-size: 7rem;
    }
  }

  &--textXL {
    font-size: 5rem;

    @include max(1800px) {
      font-size: 3.5rem;
    }

    @include m1440 {
      font-size: 2.5rem;
    }
  }

  &--text {
    font-size: 4rem;

    @include max(1800px) {
      font-size: 2.5rem;
    }

    @include m1440 {
      font-size: 2rem;
    }
  }

  &--textSM {
    font-size: 2.5rem;

    @include max(1800px) {
      font-size: 1.5rem;
    }
  }

  &--top {
    font-size: 10rem;
    font-family: "SFU-Fenice-LightOblique";

    @include max(1800px) {
      font-size: 7rem;
    }

    @include m1440 {
      font-size: 5rem;
    }
  }

  &--wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  &:first-child {
    border: none;
  }
}

.achieve4 {
  width: 22.15%;
}

.section5__service {
  padding: 0 15% 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -10%;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/section4-decorate-hand.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &--desc {
    color: $color-primary;
    font-family: "SVN-Din";
    font-size: 3.6rem;
    margin-top: 120%;
    text-align: center;

    @include m1440 {
      font-size: 3rem;
    }
  }

  &--items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-top: 104px;
    gap: 0 20px;

    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 588px;

      @include m1440 {
        max-width: 400px;
      }
    }
  }

  &--name {
    display: block;
    font-family: "SFU-Fenice-LightOblique";
    font-size: 6.5rem;
    text-align: center;
    color: $color-primary;
    text-transform: uppercase;

    @include max(1700px) {
      font-size: 5rem;
    }

    @include m1440 {
      font-size: 4rem;
    }

    &::after {
      content: "";
      display: block;
      margin: 30px auto 0;
      width: 64.5%;
      max-width: 420px;
      aspect-ratio: 420 / 21;
      height: auto;
      background-image: url(/assets/images/decorate-shape.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &--text {
    display: block;
    font-family: "SFU-Fenice-LightOblique";
    font-size: 4.5rem;
    text-align: center;
    color: $color-primary;
    margin-top: 16px;

    @include max(1700px) {
      font-size: 3.2rem;
    }

    @include m1440 {
      font-size: 2.8rem;
    }
  }

  &--wrapper1 {
    margin-top: 17.5%;
  }

  &--wrapper2 {
    margin-top: 23.4%;
  }
}

.footer {
  width: 100%;
  background-image: url(/assets/images/footer-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  padding: 23% 5.4% 24.5%;
  margin-top: -24%;
  text-align: center;
  color: #fffadc;
}

.footer__text {
  font-family: "SVN-Din";
  font-size: 2.6rem;

  @include m1440 {
    font-size: 2.2rem;
  }
}

.footer__logo {
  margin-top: 10px;
  width: 100%;
  height: auto;
  max-width: 212px;

  @include m1440 {
    max-width: 150px;
  }
}

.footer__info {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 30px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 4rem;

  @include m1440 {
    font-size: 3rem;
  }

  &--phone {
    position: relative;
    padding-left: 43px;

    &::before {
      content: "";
      display: block;
      width: 35px;
      height: 35px;
      background-image: url(/assets/images/icon-phone.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 5px;
      left: 0;

      @include m1440 {
        width: 25px;
        height: 25px;
      }
    }
  }

  &--map {
    position: relative;
    padding-left: 37px;

    &::before {
      content: "";
      display: block;
      width: 29px;
      height: 29px;
      background-image: url(/assets/images/icon-map.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 10px;
      left: 0;

      @include m1440 {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.footer__address {
  font-family: "Alumni Sans", sans-serif;
  font-size: 4rem;
  font-weight: 600;

  @include m1440 {
    font-size: 3rem;
  }
}

.footer__company {
  margin-top: 18px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 4rem;
  font-weight: 500;

  @include m1440 {
    font-size: 3rem;
  }

  &--desc {
    margin: 30px auto 0;
    font-family: "Be-VietNam";
    font-size: 2.4rem;
    max-width: 1712px;

    @include m1440 {
      font-size: 2rem;
    }
  }
}
