@use "mixin" as *;
@use "reset";

.main-content {
  overflow: hidden;
}
.section1 {
  width: 100%;
  background-image: url(/assets/images/section1-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 9% 0 20%;

  &::before {
    content: "";
    position: absolute;
    width: 61%;
    height: 67.7%;
    max-width: 1170px;
    max-height: 792px;
    background-image: url(/assets/images/decorate-cloud.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    z-index: 1;
    top: 50%;
    left: -150px;
  }
}

.section1__title {
  display: flex;
  flex-direction: column;
  margin: 0 31% 0 37%;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
  }

  &--1 {
    max-width: 608px;
  }

  &--2 {
    max-width: 401px;
    margin-top: 32px;
  }

  &--3 {
    max-width: 455px;
  }
}

.section2 {
  width: 100%;
  background-image: url(/assets/images/section2-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 86px 0 58%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 2055px;
    max-height: 3017px;
    background-image: url(/assets/images/decorate-light.png);
    background-size: 100%;
    background-repeat: no-repeat;
    right: 0;
    top: -35%;
    mix-blend-mode: screen;
  }
}

.section2__text {
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &--1 {
    max-width: 706px;
    margin: 0 22% 0 41%;
  }

  &--2 {
    max-width: 622px;
    margin: 65% 6.5% 0 62%;
  }
}

.section2__decor {
  position: absolute;
  width: 100%;
  height: auto;

  &--passport {
    width: 51%;
    top: 1.6%;
    left: 7.6%;

    @include tab {
      top: 2.34%;
    }
  }

  &--tau {
    top: 18%;
  }
}

.section3 {
  width: 100%;
  background-image: url(/assets/images/section3-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 14% 71% 20% 57px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 21.3%;
    height: 100%;
    max-width: 409px;
    max-height: 680px;
    background-image: url(/assets/images/decorate-leaf.png);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 0;
    top: 60%;
  }
}

.section3__text {
  max-width: 492px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.section3__decor {
  display: block;
  width: 61.8%;
  aspect-ratio: 1187/831;
  position: absolute;
  left: 39%;
  bottom: -17%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include tab {
    left: 40%;
    bottom: -22%;
  }
}
